<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/18ffaa82-ddd6-433c-b657-de0a455a4e30/resourcegroups/fit5120/providers/Microsoft.Web/sites/LoveandLive</ResourceId>
    <ResourceGroup>fit5120</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://loveandlive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>loveandlive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LoveandLive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LoveandLive</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IEProjectModels" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fit5120.database.windows.net,1433;Initial Catalog=database1;Persist Security Info=False;User ID=rajdeep;Password=Password1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:fit5120.database.windows.net,1433;Initial Catalog=database1;Persist Security Info=False;User ID=rajdeep;Password=Password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEProject_Final.Models.IEProjectModels, IEProject_Final" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IEProjectModels-Web.config Connection String">
      <ParameterValue>Server=tcp:fit5120.database.windows.net,1433;Initial Catalog=database1;Persist Security Info=False;User ID=rajdeep;Password=Password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>